* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
a,
a:visited {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  -webkit-transition: 0.5s ease;
          transition: 0.5s ease;
}
a:hover,
a:visited:hover {
  color: #d04000;
  border-color: rgba(208,64,0,0.5);
  -webkit-transition: 0s ease;
          transition: 0s ease;
}
/* Шапка */
.header_container {
    width: 100%;
    position: absolute;
    top:20px;
    z-index: 1;
}
.header {
	width: 1000px;
	margin: 0 auto;
}
/* Для белого фона 
.logo {
    background-image: url(http://moloko.kirys.ru/img/logo.png);
    width: 165px;
    height: 38px;
    display: inline-block;
}

.twi {
    background-image: url(http://moloko.kirys.ru/img/twi.png);
    width: 36px;
    height: 36px;
    display: inline-block;
    border: 1px solid #24AFF2;
    border-left:0;
    opacity: 0.7;
}
.twi:hover {
    background: #24AFF2;
    background-image: url(http://moloko.kirys.ru/img/twi-wh.png);
    opacity: 1;
    transition:.1s;
}
.vk {
    background-image: url(http://moloko.kirys.ru/img/vk.png);
    width: 36px;
    height: 36px;
    display: inline-block;
    border: 1px solid #4F74A7;
    border-left:0;
    margin: 0px;
    opacity: 0.7;
}
.vk:hover {
    background: #4F74A7;
    background-image: url(http://moloko.kirys.ru/img/vk-wh.png);
    opacity: 1;
    transition:.1s;
}

.fb {
    background-image: url(http://moloko.kirys.ru/img/fb.png);
    width: 36px;
    height: 36px;
    display: inline-block;
    border: 1px solid #3B589D;
    border-left:0;
    opacity: 0.7;

}
.fb:hover {
    background: #4F74A7;
    background-image: url(http://moloko.kirys.ru/img/fb-wh.png);
    opacity: 1;
    transition:.1s;
}
/* Конец белого фона */


/* Для черного фона */
.logo {
    background-image: url(http://moloko.kirys.ru/img/logo-whbd.png);
    width: 171px;
    height: 44px;
    display: inline-block;
    margin-left: 40px;
}
/* Социоссылки */
.twi,.vk,.fb,.inst {
	background-image: url(http://moloko.kirys.ru/img/networklinks.png);
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    display: inline-block;
    border: 1px solid rgba(256,256,256,0.6);
    border-left: 0;
    opacity: 0.7;
}

.twi {
    background-position: -45px 0px;
}
.vk {
    background-position: 0px 0px;
}
.fb {
    background-position: -89px 0px;
}
.inst {
	background-position: -132px 0px;
}
.twi:hover {
    background-color: #25aef3;
    border-color: #25aef3;
}
.vk:hover {
    background-color: #4F74A7;
    border-color:#4F74A7; 
}
.fb:hover {
    background-color: #3B589D;
    border-color: #3B589D;
}
.inst:hover {
	background-color: #A0674F;
    border-color: #A0674F;
}
.twi:hover,.vk:hover,.fb:hover,inst:hover {
    border-left: 0;
    opacity: 0.9;
    transition:.1s;
}
/* Конец социоссылок */


.search {
    background-color:transparent;
    color: white;
    padding: 8px 12px;
    height:44px;
    font-size: 16px;
    border: 1px solid rgba(256,256,256,0.5);
    outline: none;
    float: right;
    position: relative;
    margin-right: 40px;
}
::-webkit-input-placeholder {color:rgba(255, 255, 255, 0.6);}
::-moz-placeholder          {color:rgba(255, 255, 255, 0.6);}/* Firefox 19+ */
:-moz-placeholder           {color:rgba(255, 255, 255, 0.6);}/* Firefox 18- */
:-ms-input-placeholder      {color:rgba(255, 255, 255, 0.6);}

.cover {
    min-width: 1000px;
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    color: white;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}
.post,.post_illustration {
    background-size: cover;
    background-position: center 60%;
    min-width: 1000px;
    width: 100%;
    height:300px;
    position: relative;
}
.post:after {
    content:' ';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
}

.post_container {
	position: absolute;
	width: 100%;
	bottom:0;
	z-index: 1;
}
.post_info {
	margin: 0 auto;
	width: 1000px;
	height: 200px;
	background-position: 40px 0; 
	background-repeat: no-repeat;
}
.headline_illustration {
    padding: 20px 0px 0px 340px;
    display: inline-block;
}
.headline {
    padding: 20px 0px 0px 40px;
    display: inline-block;
}
.headline_illustration a,.headline_illustration a:visited {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(256,256,256,0.5);
  -webkit-transition: 0.5s ease;
          transition: 0.5s ease;
}
.headline_illustration a:hover,
.headline_illustration a:visited:hover {
  color: rgba(256,256,256, 0.7);
  border-color: rgba(256,256,256,0.3);
  -webkit-transition: 0s ease;
          transition: 0s ease;
}
.headline h1 {
    font-family: 'PT Sans Caption';
    font-size: 36px;
    margin-bottom: 15px;
}
.caption {
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 5px;
    max-width: 500px;
}
.infobar {
    font-size: 16px;
}
.author {
    font-weight: bold;
    margin-right: 15px;
}
.date {
    color: rgba(256,256,256,0.7);
}
/* Конец чёрого фона */
/* Конец шапки */

.root {
    margin: 20px 40px;
    min-height: 100%;
    padding-bottom:-140px
}

/* Подвал */
.footer_container {
	width: 100%;
	background: #f5f5f5;
	height: 140px;
}
.footer {
	width: 1000px;
	padding: 40px 40px;
	margin: 0 auto;
}
.by {
	color:#b8b8b8;
	margin-top: 20px;
}
/* Конец подвала */